<!-- Main navigation -->
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">

        <a class="brand" href="#">adrianojlt</a>

          <div class="nav-collapse">
            <ul class="nav" id="mainMenu">
              <li class=""><a href="index.html">Home</a></li>
              <li class=""><a href="#">link1</a></li>
              <li class=""><a href="#">link2</a></li>
              <li class=""><a href="#">link3</a></li>
              <li class=""><a href="#">contact</a></li>
              <li class=""><a href="about.html">about</a></li>
            </ul>
            <ul class="nav pull-right" id="rightMenu">
              <li class=""><a href="#">right link 1</a></li>
              <li class=""><a href="#">right link 2</a></li>
            </ul>
          </div>

        </div>
      </div>
    </div>